.contact {
    padding: 40px;
    background: #1E1E1E;
    text-align: center;
    color: white;
  }
  
  .contact h2 {
    color: #00ADB5;
  }
  
  .contact p {
    margin-top: 10px;
    font-size: 18px;
  }
  