.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #121212;
    color: #EAEAEA;
  }
  
  .header nav a {
    margin-left: 20px;
    color: #00ADB5;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .header nav a:hover {
    color: #FF2E63;
  }
  